---
import Layout from "@layouts/main.astro"
import Typer from "@components/typer.astro"
import Links from "@components/links.astro"
---
<Layout>
	<div class="text-center w-5/6 max-w-5xl main">
		<img class="w-64 h-64 mx-auto rounded-full border-gray-600 border-2 border-solid" src="/favicon.png" alt="Armo Lab Favicon.">
		<h1 class="text-3xl font-semibold my-3">
			The 
			<span class="bg-clip-text text-transparent
						 bg-gradient-to-r from-purple-500 to-pink-500">Armo Laboratory</span>
		</h1>
		<Typer />
		<Links />
	</div>
</Layout>

<style lang="scss">
	div.main {
		animation: ZoomIn cubic-bezier(.25,.1,0,1) .75s 1 forwards;

		@keyframes ZoomIn {
			0%,35% {
				filter: blur(8px);
  				transform: scale(1.125);
  				opacity: .65;
			}
			100% {
				filter: blur(0);
  				transform: scale(1);
  				opacity: 1;
			}
		}
	}
</style>
