---
import { Icon } from "astro-icon/components";
const LinkArray = [
    {
        icon: "simple-icons:github",
        link: "https://github.com/ArmoLab",
        desc: "ArmoLab"
    },
    {
        icon: "simple-icons:telegram",
        link: "https://t.me/ArmoLab",
        desc: "ArmoLab"
    }
]
---
<div class="flex gap-x-2.5 justify-center">
    {LinkArray.map((i) => (
        <a class="flex items-center text-xl my-3 py-1.5 px-2 pr-3 rounded-full bg-LinkBG" href={i.link}>
            <span class="pr-1.5 mr-1.5 ml-0.5 border-solid border-r border-r-gray-100">
                <Icon name={i.icon} />
            </span>
            <span class="desc">{i.desc}</span>
        </a>
    ))}
</div>
