---
import "@assets/css/base.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="A homepage for ArmoLab" />
		<meta name="author" content="ArmoLab" />
		<link rel="sitemap" href="/sitemap-index.xml">
		<title>Home - ArmoLab</title>
	</head>
	<body>
		<main>
        	<slot />
		</main>
	</body>
</html>
